pytesseract
scipy
amqp==2.5.2
appdirs==1.4.4
argcomplete==1.10.0
asyncio==3.4.3
beautifulsoup4==4.8.0
billiard==3.6.3.0
blis==0.2.4
camelot-py==0.7.3
celery==4.4.2
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
configparser==3.5.3
cymem==2.0.5
distlib==0.3.2
distro==1.5.0
docx2txt==0.8
EbookLib==0.17.1
et-xmlfile==1.0.1
excalibur-py==0.4.3
extract-msg==0.23.1
filelock==3.0.12
Flask==1.1.2
idna==2.9
IMAPClient==2.1.0
importlib-metadata==1.6.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
joblib==1.0.0
kombu==4.6.8
lxml==4.5.0
MarkupSafe==1.1.1
mathparse==0.1.2
murmurhash==1.0.5
mysql-connector-python==8.0.20
nltk==3.5
numpy==1.18.4
olefile==0.46
opencv-python==4.2.0.34
openpyxl==3.0.3
packaging==20.8
pandas==1.0.3
pdfminer==20191125
pdfminer.six==20181108
pdftotext==2.1.5
Pillow==7.1.2
Pint==0.16.1
plac==0.9.6
preshed==2.0.1
protobuf==3.12.2
pycryptodome==3.9.7
pymongo==3.11.0
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.1
python-dotenv==0.15.0
python-pptx==0.6.18
pytz==2020.1
regex==2020.11.13
requests==2.23.0
six==1.12.0
sortedcontainers==2.1.0
soupsieve==2.0
spacy==2.1.9
SpeechRecognition==3.8.1
SQLAlchemy==1.3.17
srsly==1.0.5
stringcase==1.2.0
tabula-py==2.1.0
textract==1.6.3
thinc==7.0.8
tqdm==4.54.1
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.9
vine==1.3.0
virtualenv==20.4.7
Wand==0.6.1
wasabi==0.8.0
Werkzeug==0.16.1
xlrd==1.2.0
XlsxWriter==1.2.8
zipp==3.1.0
face_recognition
google-cloud-vision
imutils
matplotlib
levenshtein
fuzzywuzzy